<!DOCTYPE html>
<html>
<head>
	<title>PUP Events</title>


	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
	<link rel="icon" href="../../static/images/PUP.png" type="">

	<style type="text/css">
		.navbar {
			border-radius: 0px;
			height: 50px;
		}

		nav {
			margin-bottom: 0px;
		}

		.navbar-default {
			background-color: white;
			/*border-color: transparent;*/
			box-shadow: none;
			color: white;
		}

		.navbar-collapse {
			background-color: white;
		}

		.navbar-nav {
			font-size: 12px;
			height: 50px;
			border-bottom: 1px solid #E3E3E3;
		}

		a {
			font-family: Montserrat;
		}

		h1 {
			color: #8C8C8F;
		}

		.form-group {
			width: 80%;
		}

		.btn {
			width: 20%;
			font-size: 15px;
		}

		body {
			font-family: Montserrat;
			/*background-color: #FAFAF8;*/
			/*background-color: #2E3254;*/
			background-color: #5F5F5F;
		}

		section {
			padding-top: 8%;
		}

		.red-button {/*
			background-color: red;*/
		}

		.wrapper {
			background-color: white;
			border: 1px solid #E5E5E5;
			border-radius: 4px;
			margin-left: 20%;
			margin-right: 20%;
		}


	</style>
</head>
<body>

	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a href="/" class="navbar-brand navbar-link">
							<span style="color: #880000;">
							pup</span><span style="color: black;">events</span>
						</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>

					<div class="collapse navbar-collapse navbar-right">
						<ul class="nav navbar-nav">
							<li>
								<a href="/signin" class="red-button">
									Sign in
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>			
	</header>

	<section>
		<div class="container">
			<div class="wrapper">
				<div class="row">
                    <center>
                        <div class="col-sm-12">
                            <!-- <h1>Event Info</h1> -->
                            <h1>
                                <span style="color: black;">
                                    sign up as
                                </span>
                                <span style="color: #880000;">
                                    student
                                </span>
                            </h1>
                            <br/>
                            <form name="details" method="POST" class="form-group">
                                <input name="firstName" type="text" id="" class="form-control" placeholder="First name" required autofocus=""><br/>
                                <input name="lastName" type="text" id="" class="form-control" placeholder="Last name" required autofocus=""><br/>
                                <input name="contactNumber" type="text" id="" class="form-control" placeholder="Contact Number" required autofocus=""><br/>
                                <input name="email" type="email" id="" class="form-control" placeholder="Email" required autofocus=""><br/>
                                <input name="password" type="password" id="" class="form-control" placeholder="Password" required autofocus=""><br/>

                                <input id="submit_button" value="Proceed" type="submit" class="btn btn-lg btn-primary btn-block">
                                <br/>
                            </form>
                        </div>
                    </center>
				</div>	
			</div>			
		</div>
	</section>

	<script type="javascript">
        $("#submit_button").submit(function(event){

            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // setup some local variables
            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("text", "email", "password");

            // Serialize the data in the form
            var serializedData = $form.serialize();

            // Let's disable the inputs for the duration of the Ajax request.
            // Note: we disable elements AFTER the form data has been serialized.
            // Disabled form elements will not be serialized.
            $inputs.prop("disabled", true);

            console.log(serializedData);
            
            // Fire off the request to /form.php
            request = $.ajax({
                url: "/signup/student",
                type: "POST",
                data: serializedData
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                // Log a message to the console
                console.log(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // Log the error to the console
                console.error(
                    "The following error occurred: "+
                    textStatus, errorThrown
                );
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                // Reenable the inputs
                $inputs.prop("disabled", false);
            });

        });
	</script>
</body>
</html>